@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pizzeria Anema e Core</h1>
    <div class="row row-cols-5 justify-content-center g-2">
        <div class="col-2">
            <div class="card">
                <img src="https://media.istockphoto.com/id/604829224/photo/margherita-pizza.jpg?s=612x612&w=0&k=20&c=ALD_hdBp_lnlFQfzOp-_yjPtg5Sbq5P1hHGm30t3HYc=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Margherita</h3>
                    <p class="card-text">Nel giugno 1889 per onorare la Regina d'Italia, Margherita di Savoia, il cuoco Raffaele Esposito della Pizzeria Brandi inventò una pietanza che chiamò proprio Pizza Margherita
                        (con riferimento al fatto che il termine "pizza", allora sconosciuto al di fuori della città partenopea, indicava quasi sempre le torte dolci), 
                        dove i condimenti salati capitatigli tra le mani, pomodoro, mozzarella e basilico, rappresentavano gli stessi colori della bandiera italiana. 
                    </p>
                    <a href="#" class="btn btn-primary">Ordina</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="https://media.istockphoto.com/id/604829224/photo/margherita-pizza.jpg?s=612x612&w=0&k=20&c=ALD_hdBp_lnlFQfzOp-_yjPtg5Sbq5P1hHGm30t3HYc=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Ortolana</h3>
                    <p class="card-text">
                        Nel giugno 1889 per onorare la Regina d'Italia, Margherita di Savoia, il cuoco Raffaele Esposito della Pizzeria Brandi inventò una pietanza che chiamò proprio Pizza Margherita
                        (con riferimento al fatto che il termine "pizza", allora sconosciuto al di fuori della città partenopea, indicava quasi sempre le torte dolci),
                        dove i condimenti salati capitatigli tra le mani, pomodoro, mozzarella e basilico, rappresentavano gli stessi colori della bandiera italiana.
                    </p>
                    <a href="#" class="btn btn-primary">Ordina</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="https://media.istockphoto.com/id/604829224/photo/margherita-pizza.jpg?s=612x612&w=0&k=20&c=ALD_hdBp_lnlFQfzOp-_yjPtg5Sbq5P1hHGm30t3HYc=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Capricciosa</h3>
                    <p class="card-text">
                        Nel giugno 1889 per onorare la Regina d'Italia, Margherita di Savoia, il cuoco Raffaele Esposito della Pizzeria Brandi inventò una pietanza che chiamò proprio Pizza Margherita
                        (con riferimento al fatto che il termine "pizza", allora sconosciuto al di fuori della città partenopea, indicava quasi sempre le torte dolci),
                        dove i condimenti salati capitatigli tra le mani, pomodoro, mozzarella e basilico, rappresentavano gli stessi colori della bandiera italiana.
                    </p>
                    <a href="#" class="btn btn-primary">Ordina</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="https://media.istockphoto.com/id/604829224/photo/margherita-pizza.jpg?s=612x612&w=0&k=20&c=ALD_hdBp_lnlFQfzOp-_yjPtg5Sbq5P1hHGm30t3HYc=" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Broccoli e Salsiccia</h3>
                    <p class="card-text">
                        Nel giugno 1889 per onorare la Regina d'Italia, Margherita di Savoia, il cuoco Raffaele Esposito della Pizzeria Brandi inventò una pietanza che chiamò proprio Pizza Margherita
                        (con riferimento al fatto che il termine "pizza", allora sconosciuto al di fuori della città partenopea, indicava quasi sempre le torte dolci),
                        dove i condimenti salati capitatigli tra le mani, pomodoro, mozzarella e basilico, rappresentavano gli stessi colori della bandiera italiana.
                    </p>
                    <a href="#" class="btn btn-primary">Ordina</a>
                </div>
            </div>
        </div>
    </div>

</div>
